h1 {
    color: #ff9ea2;
}

body {
    /*color: pink;*/
    /*background-color: #ffecea;*/
    font-weight: 800;
}

.card {
    background: pink;
}

.card > p {
    background: beige;
    padding: 1px 10px;
}